<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <style>
      h1 {
        text-align: center;
        color: black;
      }

      .footer {
        text-align: right;
        font-size: 80%;
        color: black;
        margin-right: 10px; /* 여백 조절 */
      }

      .confirmation-buttons {
        text-align: center;
        margin-top: 10px;
      }

      .confirmation-buttons button {
        margin: 5px;
      }
    </style>
    <title>Welcome to GoMOL program</title>
  </head>
  <body>
    <h1>GoMOL software</h1>
    
    <p class="footer" style="font-size: 16px; font-weight: bold;">Created by *Boyes, *Jeon, *Katz, *Sadasivan</p>

    <form class="grid" action="/result" method="POST">
      {% if name %}
        <center>
          <h3 style="color: blue;" class="let_space">Hello {{name}}, How was your day!!</h3>
        </center> 
      {% endif %}

      <label for="pdb_id_1">Enter PDB ID1:</label>
      <input type="text" id="pdb_id_1" name="pdb_id_1" placeholder="PDB ID1">

      <label for="pdb_id_2">Enter PDB ID2:</label>
      <input type="text" id="pdb_id_2" name="pdb_id_2" placeholder="PDB ID2">

      <center><input class="file_submit" type="Submit"></center>
    </form>

    <br>
    <br>
    <br>
  </body>
</html>



